.DS_Store
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.hg/
.vscode/
.idea/
*.class

# isshe
*.temp
a.out.dSYM/
a.out
__pycache__/
*.pyc
venv/
*_tmp.svg
*_temp.svg
*.tmp
*.temp
node_modules/
package-lock.json
*.iml
ops.script.log

# valgrind
callgrind.out.*
logs/
client_body_temp/
fastcgi_temp/
proxy_temp/
scgi_temp/
uwsgi_temp/
proxy_cache/

# obsidian
.obsidian/

# dmesg
*.log

# isshe
funds.csv
