[submodule "P.Projects/isout"]
	path = P.Projects/isout
	url = https://github.com/x-few/isout.git
[submodule "P.Projects/quickcmd"]
	path = P.Projects/quickcmd
	url = https://github.com/x-few/quickcmd.git
