<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

<div id="app">
    <!-- 使用同一个 name 后能互斥，实现单选 -->
    <!-- 使用 v-model 后，可以不用 name -->
    <label for="male">
        <input type="radio" id="male" name="sex" value="男" v-model="sex">男
    </label>
    <label for="female">
        <input type="radio" id="female" name="sex" value="女" v-model="sex">女
    </label>
    <h2>{{sex}}</h2>
</div>

<script>
// 声明式编程
const app = new Vue({
    el: '#app',
    data: {
        sex: "男",
    },
})
</script>

</body>
</html>
